{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'myshop_app/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'myshop_app/css/stylesheet.css' %}">
    <title>{{ page_title }}</title>
</head>
<body>
    <header>
    {% include 'header_menu.html' %}
    </header>
    <h1>{{ page_title }}</h1>
    {% block content %}
    {% endblock content %}
</body>
</html>