{% extends 'myshop_app/base.html' %}
{% load static %}

{% block content %}
<div class="products-container">
    {% for product in products %}
    <div class="product-container">
        <a href="{{ product.get_absolute_url }}"><h3>{{ product.title }}</h3></a>
        <a href="{{ product.get_absolute_url }}"><img src="{% static 'myshop_app/img/thumbnails/' %}{{ product.image }}" height="200" width="200" alt="{{ product.image }}"></a>
        <p>{{ product.price }} &#8381;</p>
        <input type="submit" value="Buy">
    </div>
    {% endfor %}
</div>
{% endblock content %}